<% div_for(story) do %>
  <h3><%= link_to story.name, story %></h3>
  <p>
    Submitted by: <%= story.user.login %> |
    Score: <%= story.votes_count %><br />
    Tags: <%= story.tag_list %>
  </p>
<% end %>